.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #cd1313;
    font-size: 60px;
    text-align: center;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    pointer-events: none;
}