iframe {
    pointer-events: none; /* Отключает взаимодействие с iframe */
}
.video {
    width: 400px;
    margin: auto;
    height: auto;
}
.video-container {
    position: relative;
    width: 40%;
    margin: auto
}